@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: "Poppins", sans-serif;
  color: white;
  /* background-image: url("back1.png"); */
  /* background: #121212; */
  /* background-size: cover; */
  /* background-color: #0005; */
  /* background-blend-mode: darken; */
  background-color: #1f1b24;
}

table tbody td {
  color: white;
  text-align: left;
}

.grey {
  color: #ababab;
}
.green {
  color: green;
}
.blue {
  color: blue;
}
.lightblue1 {
  color: #1ef7fd;
}
.lightblue2 {
  color: #5b9cef;
}
.lightyellow {
  color: lightyellow;
}
.red1 {
  color: red;
}
.red2 {
  color: #d3861d;
}
.yellow {
  color: yellow;
}
.white {
  color: white;
}
.orange {
  color: orange;
}

#titleText {
  color: white;
  width: 100%;
  text-align: center;
  padding-top: 100px;
}

#divider {
  width: 150px;
  height: 5px;
  margin: 30px auto 0px auto;
  background-color: gold;
}

#versionText {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #eeeeee;
}

.menuButton {
  margin: 3rem;
  padding: 100px 20px 100px 20px;
  /* background-color: #1F1A24; */
  text-align: center;
  height: 280px;
  background : rgba(0, 0, 0, 0.3);
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: white;
}

.col-md-4 a {
  text-decoration: none;
  color: white;
}

.col-md-4 a:hover {
  color: white;
}

#logoImg {
  position: absolute;
  left: 10px;
  top: 10px;
}

.uaMenuButton {
  margin: 1rem;
  padding: 50px 10px 50px 10px;
  background : rgba(0, 0, 0, 0.3);
  text-align: center;
  height: 160px;
}

.ga4MenuButton {
  margin: 1rem;
  padding: 50px 10px 50px 10px;
  background : rgba(0, 0, 0, 0.3);
  text-align: center;
  height: 140px;
}

.ecMenuButton {
  margin: 1rem;
  padding: 50px 10px 50px 10px;
  background : rgba(0, 0, 0, 0.3);
  text-align: center;
  height: 130px;
}

.adsMenuButton {
  margin: 1rem;
  padding: 50px 10px 50px 10px;
  background : rgba(0, 0, 0, 0.3);
  text-align: center;
  height: 160px;
}

.adsMenuButton2 {
  margin: 1rem;
  padding: 30px 10px 30px 10px;
  background : rgba(0, 0, 0, 0.5);
  text-align: center;
  height: 85px;
}

.drMenuButton {
  margin: 1rem;
  padding: 50px 10px 50px 10px;
  background : rgba(0, 0, 0, 0.3);
  text-align: center;
  height: 160px;
}

.cmsMenuButton {
  margin: 1rem;
  padding: 50px 10px 50px 10px;
  background : rgba(0, 0, 0, 0.3);
  text-align: center;
  height: 160px;
}

.script_part {
  background : rgba(0, 0, 0, 0.5);
  color: white;
  padding: 15px;
  border-radius: 10px;
  overflow-wrap: break-word;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
.tabSize {
  tab-size: 2;
}

.copy_button {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#ads_condition_container {
  width: 100%;
  text-align:center;
  padding-left: 40px;
  padding-right: 40px;
}

#ads_condition_container2 {
  background : rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 15px;
}

.line {
  width: 100%;
  height: 1px;
  margin-bottom: 40px;
}

footer {
  background : rgba(0, 0, 0, 0.4);
  margin-top: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.suggestion {
  position: absolute;
  font-size: 17px;
  width: 700px;
  max-height: 500px;
  overflow-y: auto;
  z-index: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
  color: black;
  text-align: left;
}

.suggestion ul {
  width: 100%;
  list-style: none;
  list-style-type: none;
}

.suggestion li {
  padding: 10px;
  cursor: pointer;
  width: 695px;
  margin-left: -40px; 
  /* text-indent: -5em; */
}

li:hover {
  background-color: #90CDF4;
}

.suggestion__item--selected {
  background-color: grey;
  /* background-color: #BEE3F8; */
}

.suggestion__item--matched {
  background-color: #9AE6B4;
}